/* Allgemeine App-Styles */
.App {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom right, #121212, #2c0a3d); /* Dunkelgrau zu einem subtileren Dunkellila */  color: white;
  height: 100%; /* Höhe für den gesamten Viewport */
  overflow-x: hidden; /* Verhindert horizontales Scrollen */
  overflow-y: auto; /* Ermöglicht vertikales Scrollen */
  position: relative; /* Damit die Sektionen im Z-Index nach oben verschoben werden können */
}

/* Sektionen */
.section {
  padding: 0px 20px;
  /*min-height: 100vh; /* Jede Sektion mindestens die Höhe des Viewports */
  opacity: 0; /* Anfangs ausgeblendet */
  position: relative;
  z-index: 1; /* Sicherstellen, dass der Hintergrund hinter den Sektionen bleibt */
  transition: opacity 1s ease; /* Nur die Opazität der Sektionen ändern */
}

/* Um die Sektionen bei Eintritt in den Viewport sichtbar zu machen */
.section.visible {
  opacity: 1;
}

/* Styling der spezifischen Sektionen */
.profile-section, .skills-section {
  position: relative;
  z-index: 2; /* Sektionen bleiben immer oben */
}

.profile-section::before, .skills-section::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  pointer-events: none;
  z-index: -1; /* Sorgt dafür, dass diese Highlights unterhalb des Inhalts liegen */
}
